{% extends "base.html" %}

{% block title %}Home{% endblock %}

{%block content %}

<div class="container">
	<div class="jumbotron">
    	<h1>Comment Tagger</h1> 
    	<p>
    		This is something that no one will care about,
    		but we want to have it.
    	</p>
    	<a href="/about" class="btn btn-primary btn-lg">Learn more</a>
	</div>

	<div class="row">
		<div class="col-xs-9">
			<h1>Analyze a repository</h1>
			<form role="form">
			  <div class="input-group">
			    <input class="form-control input-lg" id="inputlg" type="text" placeholder="https://github.com/...">
			    <span class="input-group-btn">
       				 <button type="button" class="btn btn-primary btn-lg">Go!</button>
      			</span>
			    
			  </div>
			</form>
		</div>
  		<div class="col-xs-3">
  			{% include "recent-repos.html" %}
  		</div>
	</div>

</div>

{% endblock %}